{% extends 'base.twig' %}

{% set htmlTitle = 'Login' %}

{% block body %}
  <div class="flex min-h-full justify-center px-6 py-12 lg:px-8">
    <div class="mx-auto w-full max-w-sm">
      <img class="mx-auto h-10 w-auto" src="/assets/butsing.png" alt="Butsing">
      <h1 class="my-10 text-center text-2xl font-bold leading-9 tracking-tight">
        Sign in to your account
      </h1>
      {% if formError %}
        <div class="rounded-md bg-danger-50 p-4" x-data="{ open: true }" x-show="open">
          <div class="flex">
            <button class="flex-shrink-0" x-on:click.once="open=false">
              {{ hero_icon('x-circle', 'h-5 w-auto text-danger-400')}}
            </button>
            <div class="ml-3">
              <p class="text-sm font-medium text-danger-800">{{ formError }}</p>
            </div>
          </div>
        </div>
      {% endif %}
      <form class="mt-10 space-y-6" method="POST" x-data="{ username: '{{ username }}', password: '' }">
        <div>
          <label for="username" class="block text-sm font-medium leading-6">Username / email address</label>
          <div class="mt-2">
            <input id="username" name="username" type="text" autocomplete="username" required class="block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-600 sm:text-sm sm:leading-6" x-model="username" value="{{ username }}" tabindex="10">
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6">Password</label>
            <div class="text-sm">
              <a href="#" class="font-semibold text-primary-600 hover:underline" tabindex="13">Forgot password?</a>
            </div>
          </div>
          <div class="mt-2">
            <input id="password" name="password" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-600 sm:text-sm sm:leading-6" tabindex="11">
          </div>
        </div>

        <div>
          <button type="submit" class="flex w-full justify-center rounded-md bg-primary-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-primary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600" tabindex="12">Sign in</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
